@font-face {
  font-family: "CircularStd-Book";
  src: url("fonts/CircularStd-Book.ttf") format("truetype");
  /* font-weight: normal;
font-style: normal; */
}

/* @font-face {
  font-family: "CircularStd";
  src: url('fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url('fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url('fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
} */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "CircularStd-Book", Arial, sans-serif;
  /* font-weight:  */
}

iframe {
  border: 0;
}

.frame-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}

.nav-container {
  height: 40px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right {
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-left {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: 2vw;
}

.icon {
  height: 40px;
  width: auto;
}

.menu-item,
.menu-title {
  padding: 0;
  margin: 0;
  color: #915afe;
}

.menu-item {
  margin-left: 2vw;
  margin-right: 2vw;
}

/* HERO */

.hero-container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  margin-bottom: 2em;
}

.mission-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.hero-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.hero-title {
  margin-top: 2em;
  margin-left:  15vw;
  margin-right: 15vw;
  margin-bottom: 0.75em;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  max-width: 1100px;
  /* font-family: "CircularStd-Medium", Arial, sans-serif; */
}

.hero-body-text-action-container {
  margin-bottom: 4em;
  background-color: rgba(145, 90, 254, 0.15);
  color: #915afe;
  border-radius: 1000px;
  padding: 18px;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.15s ease-in;
  /* display: inline-block; */
}

.hero-body-text-action-container:hover {
  transform: scale(1.05);
  transform: rotateZ(-1deg);
  background: #915afe;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(145, 90, 254, 0.5);
  transition: all 0.15s ease-in;
}

.hero-body-text-action {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.hero-iframe-container {
  margin-left: 10vw;
  margin-right: 10vw;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-iframe {
  width: 100% !important;
  height: auto !important;
  display: block;
  margin: auto;
  border-radius: 0.75em;
  /* box-shadow: 0px 0px 40px rgba(0, 0, 0, 0); */
}

.mission-body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.mission-body-text-container {
  margin-left: 15vw;
  margin-right: 100px;
  flex: 3;
  /* max-width: 500px; */
}

.mission-body-image-container {
  margin-right: 15vw;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-body-image {
  max-height: 60vh;
  max-width: 100%;
  display: block;
}

/* EXPERIENCE */

.experience-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.experience-body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.experience-body-text-container {
  margin-right: 15vw;
  margin-left: 100px;
  flex: 3;
}

.experience-body-header-text {
  color: #915afe;
}

.experience-body-image-container {
  margin-left: 15vw;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.experience-body-image {
  max-height: 70vh;
  max-width: 100%;
  display: block;
}

/* FEATURES */

.features-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.features-body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.features-body-text-container {
  margin-left: 15vw;
  margin-right: 100px;
  flex: 3;
}

.features-body-text {
  margin: 0;
  margin-top: 12px;
  padding: 0;
}

.features-body-header-text {
  margin-bottom: 12px;
  color: #915afe;
}

.features-body-image-container {
  margin-right: 15vw;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.features-body-image {
  max-height: 70vh;
  max-width: 100%;
  display: block;
}

/* PHONE */

.mobile-container {
  display: flex;
  flex-flow: row;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.mobile-img-container {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}

.mobile-img {
  max-height: 85vh;
  max-width: 100%;
  display: block;
}

.mobile-text {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 22px;
}

/* BENEFITS */

.benefits-container {
  display: flex;
  flex-flow: column;
  padding-left: 15vw;
  padding-right: 15vw;
  /* height: 100vh; */
  text-align: center;
}

/* CONTACT */

.contact-container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-body-text-container {
  margin-left: 15vw;
  margin-right: 100px;
  flex: 1;
  /* max-width: 500px; */
}

.contact-body-text-action-container {
  background-color: #915afe;
  color: #ffffff;
  border-radius: 1000px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  display: inline-block;
}

.contact-body-text-action {
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.contact-body-image-container {
  /* position: relative; */
  width: 40vw;
  margin: 0;
  margin-right: 0;
  /* background-color: blue; */
}

.contact-body-image {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  max-height: 80%;
  max-width: 100%;
  /* display: block; */
}

.hero-body-bottom-web {
  visibility: visible;
  text-align: center;
  position: absolute;
  bottom: 10px;
  /* transform: translateX(-50%); */
}

.hero-body-bottom-mobile {
  visibility: hidden;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

/* ------------------------------------------------------------- */

/* MOBILE */
@media only screen and (max-width: 800px) {
  .founder-name {
    align-self: center;
    text-align: center;
  }

  .nav-right {
    margin-right: 10px;
  }

  .nav-left {
    margin-left: 10px;
  }

  .hero-body-container {
    flex-direction: column-reverse;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
  }

  .hero-body-text {
    text-align: center;
  }

  .hero-body-text-container {
    margin-left: 0;
    margin-right: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .hero-body-text-action-container {
    align-self: center;
  }

  .hero-body-text-action {
    text-align: center;
  }

  .hero-body-image-container {
    margin: 0;
    padding: 0;
    flex: 1;
    margin-bottom: 20px;
    align-items: flex-end;
    align-self: center;
  }

  .hero-body-image {
    max-height: 25vh;
    max-width: 100%;
    display: block;
  }

  .experience-body-container {
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
  }

  .experience-body-text {
    text-align: center;
  }

  .experience-body-text-container {
    margin-left: 0;
    margin-right: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .experience-body-header-text {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .experience-body-image-container {
    margin: 0;
    padding: 0;
    flex: 1;
    margin-bottom: 20px;
    align-items: flex-end;
    align-self: center;
  }

  .experience-body-text {
    font-size: 1.3em;
  }

  .experience-body-image {
    max-height: 40vh;
    max-width: 100%;
    display: block;
  }

  .features-body-container {
    flex-direction: column-reverse;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content: center;
  }

  .features-body-text {
    text-align: center;
    margin: 0;
    margin-top: 15px;
  }

  .features-body-text-container {
    margin-left: 0;
    margin-right: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .features-body-header-text {
    padding: 0;
    margin-bottom: 8px;
    text-align: center;
  }

  .features-body-image-container {
    margin: 0;
    padding: 0;
    flex: 1;
    margin-bottom: 20px;
    align-items: flex-end;
    align-self: center;
  }

  .features-body-text {
    font-size: 1.2em;
  }

  .features-body-image {
    max-height: 40vh;
    max-width: 100%;
    display: block;
  }

  .benefits-container {
    /* height: 100vh; */
    /* background-color: #915AFE; */
    /* padding-top: 10vh; */
    font-size: 0.7em;
  }

  .mobile-container {
    display: flex;
    flex-flow: column;
    height: 300vh;
    /* align-items: center;
    justify-content: flex-start; */
  }

  .contact-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .contact-body-text-container {
    margin: 0;
    flex: 1;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 500px; */
  }

  .contact-body-text {
    text-align: center;
  }

  .contact-body-text-action-container {
    align-self: center;
  }

  .contact-body-text-action {
    text-align: center;
  }

  .contact-body-image-container {
    margin: 0;
    margin-right: 0;
    align-items: center;
    margin-top: 180px;
  }

  .contact-body-image {
    /* content: url("assets/asset-1.png"); */
    align-self: center;
    position: absolute;
    /* transform: translate(-50%, 100px); */
    bottom: 0px;
    /* left: 50%; */
    max-height: 40%;
    max-width: 100%;
  }

  .hero-body-bottom-web {
    visibility: hidden;
  }

  .hero-body-bottom-mobile {
    visibility: visible;
    align-self: flex-start;
    text-align: left;
    margin-left: 40px;
    width: 100px;
    font-size: 12px;
  }
}

/* OTHER PAGES */

.about-body-container {
  flex: 1;
  padding: 0;
  margin-top: 2vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.about-body-main {
  /* padding-right: 40vw; */
}

.about-sub {
  color: #915afe;
}

.contact-top-bar {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.founder-name {
  text-align: left;
}

.contact-body-text-action-two {
  margin-top: 4px;
  margin-bottom: 4px;
}
